<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="sendSmsUtil" class="com.spring.xml.configuration.demo.utils.SendSmsUtil" />

	<bean id="userRepository" class="com.spring.xml.configuration.demo.repositories.UserRepository" />

	<bean id="userService" class="com.spring.xml.configuration.demo.services.UserService">
		<property name="demoUtil" ref="sendSmsUtil" />
		<property name="userRepository" ref="userRepository" />
	</bean>

	<bean id="userController" class="com.spring.xml.configuration.demo.controllers.UserController">
		<constructor-arg index="0" ref="userService" />
	</bean>

</beans>