<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" version="4.0">
	
  <display-name>HelloWebMVCApp</display-name>

   <servlet>
      <servlet-name>HelloWebMVC</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
	  <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/HelloWeb-servlet.xml</param-value>
	  </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>HelloWebMVC</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

</web-app>